body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-image:url('./img/BG1.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

svg {
  margin: 0.5em;
}

.navbar-item {
  font-weight: 700;
}

.hero {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title,
.page-title {
	font-weight: 700;
	margin-bottom: 1rem;
}
