body {
  background-image:url('./img/BG1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* width: 1920px;
  height: 935px; */
}

svg {
  margin: 0.5em;
}

.navbar-item {
  font-weight: 750;
}

.hero {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title,
.page-title {
	font-weight: 700;
	margin-bottom: 1rem;
}

/* login */
.modal-header, h4, .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
  
}

.headtable{
  background-color: #ffffff;
  text-align: center;
  font-size: 40px;
  color:rgb(226, 60, 60) !important;
}

.titletable{
  text-align: center;
  font-size: 25px;
  color:rgb(0, 0, 0) !important;
}
.tableK{
  background-color: #ffffff;
  opacity: 0.9;
}